body{
    width: 100vw;
    height: 100vh;
}

main{
    height: 100%;
    width: 100%;
}

.container-main{
    background-color: #131E44;
    height: 100%;
    width: 100%;
}

.container-header{
    background-color: #293974;
    display: flex;
    height: 14%;
    width: 100%;
}